@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

.body {
  background: hsl(257, 40%, 49%);
  height: 100vh;
  width: 100vw;
}

.container {
  background: url('../images/bg-desktop.svg');
  background-size: cover;
  background-position:  cover;
  background-repeat: no repeat;
  height: 100vh;
  width: 100vw;
}

.logo {
  padding: 2rem 3rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.content .img {
  padding-left: 5em;
  box-sizing: border-box;
}

.img image {
  width: 10em;
  height: 10em;
}

.right {
  padding: 4rem 3rem;
}

.right h1 {
  font-weight: 600;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2rem;
}

.right p {
  line-height: 1.5;
  margin-bottom: 2rem;
}

button {
  border: 0px;
  color:  hsl(300, 69%, 71%);
  padding: 0.5rem 2rem;
  font-size: 16px;
  outline: none;
  border-radius: 25px;
  box-shadow: 0px 2px 10px hsl(300, 69%, 71%);
  cursor: pointer;
}

@media all and (max-width: 420px) {
  .body {
    background: url('../images/bg-mobile.svg');
  }
}